<section id="dashboard">
  <div id="dashboard-header">
    <h2 id="dashboard-title">My Dashboard</h2>
    <div id="dashboard-btn">
      <a href="/api/dashboard/:id/add-post"><button onclick="addNewPost()">add new post</button></a>
    </div>
  </div>
  {{#each posts as |post|}}
    <article data-id="{{post.id}}">
      <h2>{{post.title}}</h2>
      <span>Posted by {{post.user.name}} on {{format_date post.createdAt}}</span>
      <p>{{post.summary}}</p>
    </article>
  {{/each}}
  <!-- Page specific frontend scripts -->
  <script src="/js/post.js"></script>
</section>