<section data-id="{{post.id}}" id="edit-post">
  <div id="dashboard-header">
    <h2 id="dashboard-title">Edit</h2>
  </div>
  <form action="/api/dashboard/edit-post/{{post.id}}" method="put" id="edit-form">
    <div id="post-title" class="form-div">
      <label for="title">Post Title</label>
      <input type="text" name="title" id="title" value="{{post.title}}">
    </div>
    <div id="post-summary" class="form-div">
      <label for="summary">Post Summary</label>
      <input type="text" name="summary" id="summary" value="{{post.summary}}">
    </div>
    <div id="post-content" class="form-div">
      <label for="content">Full Post Content</label>
      <textarea name="content" id="content" cols="30" rows="40">{{post.content}}</textarea>
    </div>
    <input type="number" name="user_id" id="user_id" class="hidden" value="{{userId}}">
  </form>
  <div class="form-div">
    <!-- TODO - Get form submit working without using frontend script -->
    <button type="submit" form="" onclick="savePost()">Save Change</button>
    <button type="submit" id="btn-delete" onclick="deletePost({{post.id}}, {{userId}})">Delete Post</button>
  </div>
  <script src="/js/post.js"></script>
</section>