<section id="post">
  <article data-id="{{post.id}}" data-owner-id="{{post.user_id}}">
    <h2>{{post.title}}</h2>
    <span>Posted by {{post.user.name}} on {{format_date post.createdAt}}</span>
    <p>{{post.content}}</p>
    <!-- Load comments -->
    <div id="comments">
      <h4>Comments</h4>
      {{#each comments as |comment|}}
        <p>{{comment.user.name}}: {{comment.content}}</p>
      {{/each}}
    </div>
  </article>

  {{#if loggedIn}}
    <!-- Post a comment -->
    <div id="leave-comment"></div>
      <form action="/api/post/add-comment/{{post.id}}/{{userId}}" method="post" class="comment-form">
        <label for="newComment">Leave a Comment</label>
        <textarea name="newComment" id="newComment" cols="30" rows="4"></textarea>
        <button type="submit">Save</button>
      </form>
    </div>
  {{/if}}
</section>

<!-- TODO - Implement the login/register or homepage/post pages as partials -->
<!-- TODO - Change login to send user back to their previous page instead of homepage -->
{{#unless loggedIn}}
<section id="modal-login" class="modal hidden">
  <div class="modal-content">
    <h2>Login</h2>
    <form action="/api/users/login" method="post" class="login-register-form">
      <div class="form-div">
        <label for="loginEmail">Email:</label>
        <input type="email" name="loginEmail" id="loginEmail">
      </div>
      <div class="form-div">
        <label for="loginPassword">Password:</label>
        <input type="password" name="loginPassword" id="loginPassword">
      </div>
      <div class="form-div form-div-submit">
        <button type="submit" class="form-btn">login</button>
      </div>
    </form>
    <div class="footer">
      <h3>Not a member yet?</h3>
      <a href="#" onclick="openModal('modal-signup', 'homepage', 'modal-login')">Create an account now.</a>
    </div>
  </div>
</section>

<section id="modal-signup" class="modal hidden">
  <div class="modal-content">
    <h2>Register</h2>
    <form action="/api/users" method="post" class="login-register-form">
      <div class="form-div">
        <label for="registerUsername">Username:</label>
        <input type="text" name="registerUsername" id="registerUsername">
      </div>
      <div class="form-div">
        <label for="registerEmail">Email:</label>
        <input type="email" name="registerEmail" id="registerEmail">
      </div>
      <div class="form-div">
        <label for="registerPassword">Password:</label>
        <input type="password" name="registerPassword" id="registerPassword">
      </div>
      <div class="form-div form-div-submit">
        <button type="submit" class="form-btn">create an account</button>
      </div>
    </form>
    <div class="footer">
      <h3>Already a member?</h3>
      <a href="#" onclick="openModal('modal-login', 'homepage', 'modal-signup')">Create an account now.</a>
    </div>
  </div>
  {{/unless}}
  <!-- Page specific frontend scripts -->
  {{#unless loggedIn}}
  <script src="/js/homepage.js"></script>
  {{/unless}}
  <script src="/js/post.js"></script>
</section>